@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #1C1C1C;
    --container-color: #1F2937;
    --main-green-color: #4ADF86;
    --main-font-color: #ECFDF5;
}

.light {
    --container-color: #ECFDF5;
    --main-font-color: #1F2937;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: 'Karla', sans-serif;
    
}

#container {
    position: relative;
    margin: 70px auto 0 auto;
    width: 550px;
    background-color: var(--container-color);
    padding: 80px 52px;
    border-radius: 6px;
    border: 5px solid #ECFDF5;
}

h1 {
    color: var(--main-font-color);
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
}

span {
    display: block;
    color: var(--main-green-color);
}

#smallText {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--main-font-color);
}
#generateBtn {
    display: block;
    width: 200px;
    height: 45px;
    padding: 0 15px;
    background-color: var(--main-green-color);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    color: var(--main-font-color);
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

#generateBtn:hover {
    background-color: #56ff9a;
}

#lengthContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

#lengthContainer > input {
    width: 166px;
}

#passwordLengthLabel {
    color: var(--main-font-color);
}

#passwordLength:hover {
    cursor: pointer;
}

#checkbox-container {
    margin-top: 5px;
    color: var(--main-font-color);
    display: flex;
}

#checkbox-container > label {
    margin-right: auto;
}

hr {
    border: 1px solid #2F3E53;
    margin-top: 35px;
    margin-bottom: 40px;
}

.pass_container {
    width: auto;
    display: flex;
    gap: 24px;
}

.passBox {
    width: 211px;
    height: 40px;
    background: #273549;
    border-radius: 6px;
    border: none;
    color: var(--main-green-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.passBox > p {
    margin: 0;
    color: var(--main-green-color);
    cursor: pointer;
}

.passBox > p:hover {
    color:#52ff97
}

#passwordCopiedAlert {
    margin: 10px 0 0 0;
    text-align: center;
    color: var(--main-green-color);
}

.hide {
    visibility: hidden;
}

#toggleLight {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    padding: 0 0 3px 0;
    background-color: var(--main-green-color);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    cursor: pointer;
}

#toggleLight:hover {
    background-color: #56ff9a;
}

@media screen and (max-width: 550px) {
    #container {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #smallText {
        margin-bottom: 20px;
    }

    #lengthContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    hr {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pass_container {
        flex-direction: column;
    }

  }